.statbox ul.tree{
    border: 1px solid #ccc;
    padding: 10px 0;
    max-height: 200px;
    overflow-y: scroll;
}
.statbox ul.tree li.main-li{
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
}
.statbox ul.tree li.main-li:last-child{
    border: none;
}
.statbox ul.tree li.main-li ul{
    border-top: 1px solid #ccc;
}
.statbox ul.tree li.main-li ul.has-child li.child-main{
    display: block;
}
.statbox ul.tree li.main-li ul.has-child li.child-main ul li{
    display: inline-block;
}
.statbox ul.tree li.main-li ul.has-child li.child-main ul.has-child li.child-main{
    display: block;
}
.statbox ul.tree li.main-li input{
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.statbox ul.tree li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.statbox ul.tree li ul {
    /* border-top: 1px solid #ccc; */
    padding-top: 10px;
    padding-bottom: 5px;
}
.statbox ul.tree li ul li{
    padding-bottom: 5px;
}
.statbox ul.tree li ul li input{
    margin-bottom:10px ;
    margin-right: 10px;
}
